{% extends 'hrm/_hrm_base.html'  %}
{% load static %}

{% block hr_title %}
	<title> Announcement </title>
{% endblock %}

{% block hr %}
			<!-- Announcement -->
					<div class="section-master" style="display:non">
						<div class="aanouncement--">
							<div class="ann-head" style="display:none">
								<span class="figment"><i class="fa fa-bullhorn"></i></span>
								<span class="textur">Announcement</span>
							</div>
							<div class="task-pan">
								<div class="pin-sec">
									<div class="pinit pin-padder">
										<div class="ico_p"><i class="fa fa-comments-o"></i></div>
										<div class="pinit-h">Broadcast</div>
										<div class="pinit-b">Casual information, Festival, Treat announcement</div>
										<div class="go-pin-btn clear">
											<a href="#" class="go-pin-link">Create</a>
										</div>
									</div>
									<div class="pinit-footer">
										<div class="p-f-continer clear">
											<a href="#" class="rfloat ft-btn">Help <i class="fa fa-long-arrow-right"></i></a>
											<a href="#" class="rfloat nlk ft-btn"><i class="fa fa-question"></i></a>
										</div>
									</div>
								</div>
								<div href="#" class="pin-sec">
									<div class="pinit pin-padder">
										<div class="ico_p"><i class="fa fa-file-archive-o"></i></div>
										<div class="pinit-h">Formal Doc.</div>
										<div class="pinit-b">Draft formal documents, Office orders, Notices, Circulars</div>
										<div class="go-pin-btn clear">
											<a href="#" class="go-pin-link">Create</a>
										</div>
									</div>
									<div class="pinit-footer">
										<div class="p-f-continer clear">
											<a href="#" class="rfloat ft-btn">Help <i class="fa fa-long-arrow-right"></i></a>
											<a href="#" class="rfloat nlk ft-btn"><i class="fa fa-question"></i></a>
										</div>
									</div>
								</div>
								<div href="#" class="pin-sec ">
									<div class="pinit pin-padder">
										<div class="ico_p"><i class="fa fa-drivers-license"></i></div>
										<div class="pinit-h">Certificate Issue</div>
										<div class="pinit-b">Generate Certificates for Home Care, Recommendation</div>
										<div class="go-pin-btn clear">
											<a href="#" class="go-pin-link">Create</a>
										</div>
									</div>
									<div class="pinit-footer">
										<div class="p-f-continer clear">
											<a href="#" class="rfloat ft-btn">Help <i class="fa fa-long-arrow-right"></i></a>
											<a href="#" class="rfloat nlk ft-btn"><i class="fa fa-question"></i></a>
										</div>
									</div>
								</div>
								<div href="#" class="pin-sec">
									<div class="pinit pin-padder">
										<div class="ico_p"><i class="fa fa-map-pin"></i></div>
										<div class="pinit-h">Pin Documents</div>
										<div class="pinit-b">Upload Attested Notice, Office order, Certificate</div>
										<div class="go-pin-btn clear">
											<a href="#" class="go-pin-link">Pin</a>
										</div>
									</div>
									<div class="pinit-footer">
										<div class="p-f-continer clear">
											<a href="#" class="rfloat ft-btn">Help <i class="fa fa-long-arrow-right"></i></a>
											<a href="#" class="rfloat nlk ft-btn"><i class="fa fa-question"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Announcement End -->
			
{% endblock %}