
<div id="tuzbasic" class="section-basi">
	<div class="_d_tools clear">
		<a id="_btn_emp_jax_1_edit" href="#basic.edit" class="intr_btn rfloat">Edit</a>
	</div>

	<table class="ptt" cellspacing=0>
		<tbody class="ptb">
				<tr class="ptr">
					<td class="ptd">Monthly Wage</td>
					<td class="ptd"><span id="__wage__">*****</span><span id="_wage_btn" class="micro-btn" ><i class="fa fa-eye"></i></span></td>
				</tr>
				<tr class="ptr">
					<td class="ptd">PF Number</td>
					<td class="ptd"><span id="__wage__">*****</span><span id="_wage_btn" class="micro-btn" ><i class="fa fa-eye"></i></span></td>
				</tr>
				<tr class="ptr">
					<td class="ptd">ESI Number</td>
					<td class="ptd"><span id="__wage__">*****</span><span id="_wage_btn" class="micro-btn" ><i class="fa fa-eye"></i></span></td>
				</tr>
				<tr class="ptr">
					<td class="ptd">Attendance Register</td>
					<td class="ptd"><span id="__wage__">Not Assigned</span></td>
				</tr>
																	
		</tbody>
	</table>
	<script id="ajax_url_list">
								
	
	erp.kill($("#ajax_url_list"))	
	</script>
</div>