{% extends 'register/_register_base.html'  %}
{% load static %}



{% block register_title %}
	
	<title> Register </title>
	
{% endblock %}

{% block register %}
	
	<h3> <center>List of registers maintained</center> </h3>
	
	<div class="RegisterList">
		<div class="all_reg_tools clear">
			<div class="tool-snap">
				<label><b>Filter registers : </b></label>
				<input type="text" id="attFilter" class="reg_filter" placeholder="Search..."/>
			</div>
		</div>
		<div class="__register__" title="Register">
			<a href="#" class="__regl__ reg_link _reg_inbound">
				<div class="__reg__"> 
					<div class="index-page">Attendance 2020</div>
				</div>
				<div class="__strip__"></div>
			</a>
			<a href="#" class="__regl__ reg-title">
				Yatharth Register G. Noida Yatharth Register G. Noida Yatharth Register G. Noida jabes
			</a>
		</div>
		
		<div class="__register__" title="Register">
			<a href="#" class="__regl__ reg_link _reg_inbound">
				<div class="__reg__">
					<div class="index-page">Attendance 2020</div>
				</div>
				<div class="__strip__"></div>
			</a>
			<a href="#" class="__regl__ reg-title">
				Yatharth Register G. Noida jabes singh
			</a>
		</div>
		
		<div class="__register__" title="Register">
			<a href="#" class="__regl__ reg_link _reg_inbound">
				<div class="__reg__">
					<div class="index-page">Attendance 2020</div>
				</div>
				<div class="__strip__"></div>
			</a>
			<a href="#" class="__regl__ reg-title">
				Yatharth Register G. Noida singh
			</a>
		</div>
		
		<div class="__register__" title="Register">
			<a href="#" class="__regl__ reg_link _reg_inbound">
				<div class="__reg__">
					<div class="index-page">Attendance 2020</div>
				</div>
				<div class="__strip__"></div>
			</a>
			<a href="#" class="__regl__ reg-title">
				Yatharth Register G. Noida
			</a>
		</div>
		
		<div class="__register__" title="Register">
			<a href="#" class="__regl__ reg_link _reg_inbound">
				<div class="__reg__">
					<div class="index-page">Attendance 2020</div>
				</div>
				<div class="__strip__"></div>
			</a>
			<a href="#" class="__regl__ reg-title">
				Yatharth Register G. Noida lalit
			</a>
		</div>
		
		<div class="__register__" title="Register">
			<a href="#" class="__regl__ reg_link _reg_inbound">
				<div class="__reg__">
					<div class="index-page">Attendance 2020</div>
				</div>
				<div class="__strip__"></div>
			</a>
			<a href="#" class="__regl__ reg-title">
				Yatharth Register G. Noida lalit singh kalra
			</a>
		</div>
		
		<script>
			$("#attFilter").on("keyup",function(){
					
					var value = $(this).val().toLowerCase();
					$(".__register__").filter(function() {
					  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
			
			});
		
		</script>

		
	</div>
	
	
{% endblock %}